.row
{
    display: flex;
    justify-content: space-between;
}

.diff-header
{
    padding: 20px;
    border: 1px grey solid;

    pre {
        white-space: pre-line;
        font-size: 90%;
    }
}

.diff-section
{
    margin-top: 50px;
    padding: 20px;
    border: 1px grey solid;

    .binaryFile
    {
        text-align: center;
        font-style: italic;
    }

    .section-header
    {
        font-style: italic;
        color: #047a7b;
        margin: 20px;
    }
}