<!-- Header -->
<div *ngIf="ready" class="diff-header">
    <div class="row">
        <div>
            <h1>{{commit.info.firstLineComment}}</h1>
            <p style="font-style: italic;">By {{commit.info.authorContact}} &bull; {{commit.info.date | timefromnow}} ago</p>
        </div>
    
        <div>
            <button mat-button (click)="parentCommit(dialog_template_parentcommitnotfound)">Parent</button>
            <button mat-button (click)="browseFiles()">Browse files</button>
        </div>
    </div>

    <div class="full-diff" *ngIf="commit.info.commentLinesCount > 1">
        <pre>{{ commit.info.comment }}</pre>
    </div>
</div>

<!-- Diff sections -->
<div *ngIf="ready">
    <div *ngFor="let diff of commit.diffs" class="diff-section">
        <!-- Diff header -->
        <div class="row">
            <div>
                <p>
                    {{ diff.source }}
                    <span *ngIf="diff.source != diff.dest"> &#8594; {{diff.dest}}</span>
                </p>
                <em *ngIf="diff.isDeleted" style="color: #c2185b;">Deleted file</em>
                <em *ngIf="diff.isCreated">New file</em>
            </div>
            <div>
                <button mat-button (click)="showFileHistory(diff.dest)">File history</button>
                <button mat-button *ngIf="!diff.isDeleted" (click)="showFullFile(diff.dest)">Show file</button>
            </div>
        </div>

        <!-- Diff binary -->
        <div *ngIf="diff.isBinary" class="binaryFile">
            Binary diff not shown.
        </div>

        <!-- Code diff -->
        <div *ngFor="let section of diff.sections">
            <div class="section-header">@@ -{{section.oldStartLine}},{{section.oldLinesCount}} +{{section.newStartLine}},{{section.newLinesCount}} @@</div>

            <pre class="line-numbers"><code class="language-diff diff-highlight">{{section.diff}}</code></pre>
        </div>
    </div>
</div>


<!-- Dialog : parent commit not found-->
<ng-template #dialog_template_parentcommitnotfound>
    <p style="text-align: justify;">An error occured while searching parent commit. This commit may be the first commit of this repository.</p>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>OK</button>
    </mat-dialog-actions>
</ng-template>