:host > div {
    background-color: #303030;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.code {
    font-size: 500%;
    color: yellow;
}

:host > div > *
{
    display: block;
    margin: 20px;
}