<h3>Commits (page <span [innerText]="pageNumber + 1"></span> of {{numberPages}})</h3>

<!-- Paginator -->
<mat-paginator
    [length]="totalCommits"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber"
    [showFirstLastButtons]="true"
    (page)="changePage($event)"
></mat-paginator>

<!-- Loading progress -->
<div class="loading-area" *ngIf="commits == null">
    <mat-spinner></mat-spinner>
</div>

<!-- Commits list -->
<mat-list *ngIf="commits != null">
    <app-commit-metadata *ngFor="let commit of commits" [commit]="commit" [repo]="repoPath"></app-commit-metadata>
</mat-list>

<!-- Paginator -->
<mat-paginator
    [length]="totalCommits"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber"
    [showFirstLastButtons]="true"
    (page)="changePage($event)"
></mat-paginator>