.tree-file
{
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-head
{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.binary-file
{
    margin: auto;
    padding: 50px;
    text-align: center;
}

.file-image
{
    text-align: center;
    
    img
    {
        max-width: 100%;
    }
}

.plain-text
{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    white-space: pre-wrap;
    word-break: break-all;
}

.markdown-file
{
    padding: 10px;
}

:host ::ng-deep markdown {
    a {
        color: #c2185b;
    }
}

.source-file code
{
    /*white-space: pre-wrap;*/
}