<div class="tree-file">

    <!-- File head -->
    <div class="file-head">
        <div>{{file.name}} &bull; {{file.size | filesize}}</div>
        <div>
            <button mat-button [routerLink]="historyURL">History</button>
            <button mat-button (click)="raw(false)">Raw</button>
            <button mat-button (click)="raw(true)">Download</button>
        </div>
    </div>

    <!-- File content-->
    <div class="file-content">
        <!-- Raw binary -->
        <div class="binary-file" *ngIf="isRawBinary">
            <button mat-raised-button color="primary" (click)="raw(false)">
                Binary file
            </button>
        </div>

        <!-- File image -->
        <div class="file-image" *ngIf="isImage">
            <img [src]="rawFilePath" alt="Image">
        </div>

        <!-- Markdown file -->
        <div class="markdown-file" *ngIf="isMarkdown">
            <markdown [src]="rawFilePath"></markdown>
        </div>

        <!-- Plain text-->
        <div class="plain-text" *ngIf="isPlainText">
            <pre class="line-numbers"><code class="language-txt">{{fileContent}}</code></pre>
        </div>

        <!-- Other programming language -->
        <div class="source-file" *ngIf="isSourceCodeFile">
            <pre class="line-numbers"><code class="language-{{language}}">{{fileContent}}</code></pre>
        </div>
    </div>

</div>
