<mat-list-item routerLink="/{{repoPath}}/tree/{{name}}">
    <div class="row">
        <a mat-line>{{name}}</a>
        <span>
            <button mat-stroked-button (click)="download($event, name, 'zip')">ZIP</button>
            &nbsp;
            <button mat-stroked-button (click)="download($event, name, 'tar')">TAR</button>
        </span>
    </div>
</mat-list-item>