<!-- Current location -->
<div class="line" *ngIf="ready">
    <!-- Tree path -->
    <h2 class="treePath">
        <span *ngFor="let el of treePathParts">
            <a [routerLink]="el.fullPath">{{ el.name }}</a>
            <span *ngIf="el.isDir"> / </span>
        </span>
    </h2>

    <!-- Clone / download area -->
    <div *ngIf="treePath == '/'">
        <button mat-raised-button color="primary" (click)="onClone()">Clone</button>

        <button mat-button [matMenuTriggerFor]="menu">Download</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDownload('zip')">As ZIP archive</button>
            <button mat-menu-item (click)="onDownload('tar')">As TAR archive</button>
        </mat-menu>

    </div>
</div>

<!-- Last commit -->
<div *ngIf="ready" class="last_commit_item">
    <mat-list>
        <app-commit-metadata [commit]="lastCommit" [repo]="repoPath"></app-commit-metadata>
    </mat-list>
</div>

<!-- Tree view -->
<div class="tree-view" *ngIf="ready && isTreeView">
    <mat-nav-list>
        <mat-list-item *ngFor="let entry of sortedFiles" [routerLink]="'/' + repoPath + '/tree/' + currRev + '/' + entry.file.path">
            <div class="line">
                <div class="fileName">
                    <mat-icon *ngIf="entry.file.isDir">folder</mat-icon>
                    <mat-icon *ngIf="!entry.file.isDir">insert_drive_file</mat-icon>
                    <span>{{ entry.file.name }}</span>
                </div>
    
                <div class="commit_msg" class="message">
                    <button mat-button (click)="openCommitForFile($event, entry)" style="font-size: unset;">
                        {{ entry.commit | commitMessageBegin }}
                    </button>
                </div>

                <div class="commit_date" class="date">
                    <button mat-button (click)="openCommitForFile($event, entry)" style="font-size: unset;">
                        {{ entry.commit.date | timefromnow }}
                    </button>
                </div>
            </div>
        </mat-list-item>
    </mat-nav-list>
</div>

<!-- File view -->
<div class="file-view" *ngIf="ready && fileView != null">
    <app-tree-file [repo]="repoPath" [rev]="currRev" [file]="fileView"></app-tree-file>
</div>