.treePath a {
    color: white;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tree-view
{
    margin-top: 20px;
    border: 1px solid rgba(255,255,255,.12);

    .mat-list-base {
        padding-top: 0px;
    }

    .line div 
    {
        flex: 1;
    }

    // Left size
    .fileName {
        display: flex;
        align-items: center;
        
        // Text after icon
        span 
        {
            margin-left: 4px;
        }
    }

    .date
    {
        text-align: right;
    }

    .date, .message
    {
        font-size: 80%;
    }
}

.last_commit_item
{
    border: 1px solid rgba(255, 255, 255, 0.12);

    .mat-list-base {
        padding-top: 0px;
    }
}