<a mat-list-item [routerLink]="commitURL">
    <mat-icon mat-list-icon>code</mat-icon>
    <div mat-line *ngIf="commit != null">{{ commit.firstLineComment }}</div>
    <div mat-line *ngIf="commit != null">By {{ commit.author_name }} &lt;{{ commit.author_mail }}&gt; &bull; {{ commit.date | timefromnow }} ago</div>
</a>