<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button
      type="button"
      mat-button
      style="margin: auto; font-size: larger;"
      routerLink="/">
    Git Server
    </button>
  </mat-toolbar>
    
    <div class="revision_name">{{currRev}}</div>

    <div class="repo_size" *ngIf="stats != null">Repo size: {{stats.size | filesize}}</div>

    <mat-nav-list>
      <span *ngFor="let it of menuEntries" routerLink="{{it.link}}">
        <a mat-list-item>
          <mat-icon matListIcon>{{it.icon}}</mat-icon>
          <h3 matLine>{{it.title}}</h3>

          <small style="float: right;">{{it.badge}}</small>
        </a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        type="button"
        mat-button
        routerLink="/{{ repoParentDir }}">
        {{ repoParentDir }}
      </button>
      <button
        type="button"
        mat-button
        routerLink="/{{ repoPath }}"
        style="font-size: 120%;">
        {{ repoName }}
      </button>

      <span class="row-spacer"></span>

      <!-- Repo quick search -->
      <form class="search-form">
        <mat-form-field class="search-full-width" floatLabel="never">
          <input type="text"
            placeholder="Open repo..."
            aria-label="Number"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            [value]="searchValue">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="quickOpenRepo($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      
    </mat-toolbar>

    <div class="page-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
