.row-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.revision_name {
  text-align: center;
}

.repo_size {
  text-align: center;
  font-size: smaller;
  margin-bottom: 10px;
  margin-top: 20px;
}

.page-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.search-form {
  font-size: 70%;

  .search-full-width
  {
    width: 300px;
  }
}