.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.full-width {
  width: 100%;
}

#repos_list {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}