<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        mat-button
        routerLink="/"
        style="font-size: 120%;">
      Git Server
      </button>
    </mat-toolbar>

    <div id="repos_list">
      
      <!-- Prefix (if any) -->
      <h1 *ngIf="prefix != null">{{ prefix }}</h1>

      <!-- Filter the list of repos -->
      <mat-form-field class="full-width">
        <mat-label>Filter list</mat-label>
        <input type="text" matInput placeholder="Repo name" [formControl]="filterInput" />
      </mat-form-field>

      <!-- Display the list of repos -->
      <mat-nav-list>
        <mat-list-item *ngFor="let repo of reposList" routerLink="/{{repo}}">
          <a mat-line>{{repo}}</a>
        </mat-list-item>
      </mat-nav-list>


    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
